.clients {
  &-title {
    font-weight: 700;
    color: var(--almost-black-color);
    font-size: 28px;
    letter-spacing: 0.03em;
    margin: 0;
    padding-top: 60px;
    text-align: center;
  }
  & {
    display: flex;
    flex-wrap: wrap;
    fill: var(--grey-icon-color);
    padding: 0;
    padding-top: 30px;
    padding-bottom: 60px;
    gap: 30px;
    justify-content: space-between;
    list-style: none;
    margin: 0;
  }
  &__svg-item {
    border-color: var(--grey-icon-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 4%;
    display: block;
    width: 210px;
    height: 92px;
    padding: 16px 52px;
  }
  &__icon:hover > &__svg-item,
  &__icon:focus > &__svg-item {
    fill: var(--blue-color);
    border-color: var(--blue-color);
  }
  &__icon > &__svg-item {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
// .clients {
//   &-title {
//     font-weight: 700;
//     color: var(--almost-black-color);
//     font-size: 36px;
//     letter-spacing: calc(0.03 * 36px);
//     margin: 0;
//     padding-top: 94px;
//     text-align: center;
//   }
//   & {
//     display: flex;
//     fill: var(--grey-icon-color);
//     padding-top: 50px;
//     padding-bottom: 94px;
//     gap: 27px;
//     justify-content: space-between;
//     list-style: none;
//     margin: 0;
//   }
//   &__svg-item {
//     border-color: var(--grey-icon-color);
//     border-width: 1px;
//     border-style: solid;
//     border-radius: 4%;
//     display: block;
//     padding: 17px 32px 14px 32px;
//   }
//   &__icon:hover > &__svg-item,
//   &__icon:focus > &__svg-item {
//     fill: var(--blue-color);
//     border-color: var(--blue-color);
//   }
//   &__icon > &__svg-item {
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }
