.footer {
  & {
    background-color: var(--dark-color);
  }
  &__columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    flex-direction: column;
    text-decoration: none;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    &__columns {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    &__columns {
      flex-direction: row;
      padding-bottom: 0;
    }
    &__contacts {
      align-items: flex-start;
    }
  }
}
