.header {
  & {
    background-color: var(--white-color);
    border-bottom: 1px solid var(--shadow-color);
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    &__flex {
      height: 80px;
    }
  }
}

