.hero-background {
  background-color: var(--dark-color);
}
.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  max-width: 480px;
  max-height: auto;
  background-image: linear-gradient(
      to bottom,
      var(--dark-transparent-color),
      var(--dark-transparent-color)
    ),
    url("../images/header-mobile.jpg");

  &__title {
    font-weight: 900;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    line-height: 42px;
    letter-spacing: 0.06em;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  &__button {
    @include button(var(--white-color), var(--blue-color));
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    padding: 10px 41px;
    margin: 0 auto;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--dark-transparent-color),
        var(--dark-transparent-color)
      ),
      url("../images/header-mobile@x2.jpg");
  }
}

.hero-subsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding-top: 60px;
  gap: 30px;
  margin: 0 auto;
  list-style: none;
  &__subtext {
    color: var(--grey-color);
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-top: 10px;
  }
  &__subtext-title {
    font-weight: 700;
    color: var(--almost-black-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    margin: 0 auto;
    text-transform: uppercase;
    padding-top: 30px;
    text-align: center;
  }
  &__icon {
    background-color: var(--almost-white-color);
    border-radius: 4%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        var(--dark-transparent-color),
        var(--dark-transparent-color)
      ),
      url("../images/header-tablet.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          var(--dark-transparent-color),
          var(--dark-transparent-color)
        ),
        url("../images/header-tablet@x2.jpg");
    }
  }
  .hero-subsection {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
    padding-top: 60px;
    gap: 30px;
    margin: 0 auto;
    list-style: none;
    &__item {
      flex-basis: calc(100% - 30px / 2);
      max-width: 354px;
    }
    &__subtext-title {
      text-align: left;
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(
        to bottom,
        var(--dark-transparent-color),
        var(--dark-transparent-color)
      ),
      url("../images/header-desktop.jpg");

    &__title {
      font-size: 44px;
      line-height: 42px;
    }
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          var(--dark-transparent-color),
          var(--dark-transparent-color)
        ),
        url("../images/header-desktop@x2.jpg");
    }
  }
  .hero-subsection {
    padding-top: 94px;
    padding-bottom: 94px;
    gap: 30px;
    &__item {
      flex-basis: calc(100% - 90px / 4);
      max-width: 270px;
    }
  }
}
