.navigation.nav-desktop {
  display: none;
}
.navigation {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  padding-bottom: 302px;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-left: 40px;
    margin-top: 48px;
    padding: 0;
    gap: 36px;
  }
  &__link {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var(--almost-black-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  &__link:visited {
    color: var(--almost-black-color);
  }
  &__link:hover,
  &__link:focus {
    color: var(--blue-color);
  }
  &__list &__link--open {
    color: var(--blue-color);
  }
}
// .navigation {
//   font-size: 14px;
//   font-weight: 500;
//   line-height: 1.14;
//   display: flex;
//   margin: 0 auto;
//   margin-left: 93px;
//   letter-spacing: calc(0.02 * 14px);

//   &__list {
//     list-style: none;
//     display: flex;
//     justify-content: flex-start;
//     margin: 0 auto;
//     padding: 0;
//     gap: 46px;
//   }
//   &__link {
//     text-decoration: none;
//     font-family: "Roboto", sans-serif;
//     font-weight: 500;
//     color: var(--almost-black-color);
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     position: relative;
//   }
//   &__link:visited {
//     color: var(--almost-black-color);
//   }
//   &__link:hover,
//   &__link:focus {
//     color: var(--blue-color);
//   }
//   &__link::after {
//     content: "";
//     height: 4px;
//     background-color: var(--blue-color);
//     border-radius: 2px;
//     position: absolute;
//     top: calc(28px + 16px + 2px);
//     left: 0px;
//     display: none;
//     width: 100%;
//   }
//   &__link:hover::after,
//   &__link:focus::after {
//     display: block;
//   }
//   &__list &__link--open {
//     color: var(--blue-color);
//   }
//   &__list &__link--open::after {
//     display: block;
//   }
// }
